{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h2 class="mb-3">User {{ user_detail.username }}'s page</h2>

        <div class="d-flex">
            {% if user_detail.avatar %}
                <img  class="rounded w-25 me-4" src="{{ user_detail.avatar }}" alt="user avatar">
            {% endif %}
        
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="text-muted">Username:</span>
                {{ user_detail.username }}
            </li>
            <li class="list-group-item">
                <span class="text-muted">Full name:</span>
                {{ user_detail.first_name }} {{ user_detail.last_name }}
            </li>
            <li class="list-group-item">
                {% if isauthor_flag %}
                    <a class="link-primary" href="{{ user_detail.get_update_url }}">Edit info</a>
                {% endif %}
            </li>            
        </ul>
        </div>
    
    </div>
{% endblock %}